.puzzlebuttonsgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.size-xs .puzzlebuttonsgrid,
.size-s .puzzlebuttonsgrid ,
.size-m .puzzlebuttonsgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.puzzlebutton {
    background-color: black;
    border-radius: 10px;
    position: relative;
    aspect-ratio: 7/4;
    width: 100%;
    overflow: hidden;
    color: white;
}

.puzzlebutton::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: var(--thumb);
    /* background-color: black; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}

.puzzlebutton:hover::before {
    transform: scale(1.5);
}

.puzzlebutton:hover {
    background-color: black;
}

.puzzlebutton > span {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

a.puzzlebutton {
    text-decoration: none;
}

.test {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 10px;
}
