.puzzlebuttonsgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.puzzlebutton {
    background: transparent;
    position: relative;
    background: none;
    aspect-ratio: 7/4;
    width: 100%;
    overflow: hidden;
    color: white;
}

.puzzlebutton::before {
    z-index: 0;
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    background-image: var(--thumb);
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s;
}

.puzzlebutton:hover::before {
    transform: scale(1.5);
}

.puzzlebutton > span {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


/* .puzzlethumbnail { */
/*     height: 100%; */
/* } */

/* .puzzlethumbnail:hover { */
/*     transform: scale(1.5); */
/*     transition-duration: 0.5s; */
/* } */

a.puzzlebutton {
    text-decoration: none;
}
