.MyCrossword--blueTheme .Clue--highlighted {
	background-color: transparent;
	border: 2px solid var(--cyan);
	border-radius: 10px;
}
.MyCrossword--blueTheme .GridCell--highlighted .GridCell__rect {
	fill: var(--theme-blue-100);
}
.MyCrossword--blueTheme .GridCell--selected .GridCell__rect {
	fill: var(--theme-blue-700);
}

.MyCrossword .StickyClue {
	background-color: var(--bg);
}

.MyCrossword .StickyClue__button {
	fill: var(--fg);
	border-radius: 10px;
}

.MyCrossword .StickyClue__button:hover {
	background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

.MyCrossword .StickyClue__button:active {
	background-color: color-mix(in srgb, var(--fg) 40%, transparent);
}

.MyCrossword .Clue {
	color: var(--fg);
}
.MyCrossword .Clues__listHeader {
	background-color: transparent;
	border-bottom: 1px solid var(--grey);
}

.MyCrossword .DropdownButton__button {
	background-color: transparent;
	color: var(--fg);
    border: 2px solid var(--pink);
    border-radius: 10px;
}

.MyCrossword .DropdownButton__button:hover,
.MyCrossword .DropdownButton--expanded .DropdownButton__button {
	background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

.MyCrossword .DropdownButton__button:active {
	background-color: color-mix(in srgb, var(--fg) 40%, transparent);
}

.MyCrossword .DropdownButton__menu {
	background-color: var(--bg);
	border: 2px solid var(--fg);
	border-radius: 10px;
}

.MyCrossword .DropdownButton__menuItem {
    color: var(--fg);
}

.MyCrossword .DropdownButton__menuItem:not(:disabled):hover {
	background-color: var(--bg-highlight);
}

.MyCrossword .Button {
	background-color: transparent;
	color: var(--fg);
    border: 2px solid var(--pink);
    border-radius: 10px;
}

.MyCrossword .Button:hover,
.MyCrossword .Button--filled:not(:disabled):hover {
	background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

.MyCrossword .Button:active {
	background-color: color-mix(in srgb, var(--fg) 40%, transparent);
}
