.MyMyCrosswordTheme .Clue--highlighted {
	background-color: transparent;
	border: 2px solid var(--blue);
	border-radius: 10px;
}
.MyMyCrosswordTheme .GridCell--highlighted .GridCell__rect {
    fill: color-mix(in srgb, var(--blue) 30%, var(--grid-foreground));
}

.MyMyCrosswordTheme .GridCell--selected .GridCell__rect {
    fill: var(--blue);
}

.MyMyCrosswordTheme .GridInput {
    caret-color: white;
}

.MyMyCrosswordTheme .StickyClue {
	background-color: var(--bg);
}

.MyMyCrosswordTheme .StickyClue__button {
	fill: var(--fg);
	border-radius: 10px;
}

.MyMyCrosswordTheme .StickyClue__button:hover {
	background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

.MyMyCrosswordTheme .StickyClue__button:active {
	background-color: color-mix(in srgb, var(--fg) 40%, transparent);
}

.MyMyCrosswordTheme .Clue {
	color: var(--fg);
}
.MyMyCrosswordTheme .Clues__listHeader {
	background-color: var(--bg);
	border-bottom: 1px solid var(--grey);
}

.MyMyCrosswordTheme .DropdownButton__button {
	background-color: transparent;
	color: var(--fg);
    border: 2px solid var(--pink);
    border-radius: 10px;
}

.MyMyCrosswordTheme .DropdownButton__button:hover,
.MyMyCrosswordTheme .DropdownButton--expanded .DropdownButton__button {
	background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

.MyMyCrosswordTheme .DropdownButton__button:active {
	background-color: color-mix(in srgb, var(--fg) 40%, transparent);
}

.MyMyCrosswordTheme .DropdownButton__menu {
	background-color: var(--bg);
	border: 2px solid var(--fg);
	border-radius: 10px;
}

.MyMyCrosswordTheme .DropdownButton__menuItem {
    color: var(--fg);
}

.MyMyCrosswordTheme .DropdownButton__menuItem:not(:disabled):hover {
	background-color: var(--bg-highlight);
}

.MyMyCrosswordTheme .Button {
	background-color: transparent;
	color: var(--fg);
    border: 2px solid var(--pink);
    border-radius: 10px;
}

.MyMyCrosswordTheme .Button:not(:disabled):hover,
.MyMyCrosswordTheme .Button--filled:not(:disabled):hover {
	background-color: color-mix(in srgb, var(--fg) 20%, transparent);
}

.MyMyCrosswordTheme .Button:not(:disabled):active {
	background-color: color-mix(in srgb, var(--fg) 40%, transparent);
}

.MyMyCrosswordTheme .AnagramHelper__input,
.MyMyCrosswordTheme .AnagramHelper__input::placeholder,
.MyMyCrosswordTheme .AnagramHelper .SolutionDisplay__letter {
    color: var(--fg);
}

.MyMyCrosswordTheme .AnagramHelper .SolutionDisplay__letter {
    border: 2px solid var(--fg);
}

.MyMyCrosswordTheme .AnagramHelper .SolutionDisplay__letter--populated {
    background: var(--bg-highlight);
}

.MyMyCrosswordTheme .DropdownButton__dropdownButtonIcon,
.MyMyCrosswordTheme .AnagramHelper__closeButtonIcon {
    fill: var(--fg);
    stroke: var(--fg);
}

.MyMyCrosswordTheme .AnagramHelper__input {
    border: 2px solid var(--fg);
    border-radius: 10px;
}

.MyMyCrosswordTheme .AnagramHelper {
    border: 2px solid var(--bg-highlight);
}

.infoBox {
    display: flex;
    width: 100%;
    min-width: 50%;
    text-align: center;
    justify-content: center;
}

.crosswordcontainer {
    min-height: 100%;
}
