.puzzlebuttonsgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.puzzlebutton {
    aspect-ratio: 7/4;
    width: 100%
}

a.puzzlebutton {
    text-decoration: none;
}
