@import url("https://iosevka-webfonts.github.io/iosevka/Iosevka.css");

:root {
	--bg: #16181a;
	--bg-alt: #1e2124;
	--bg-highlight: #3c4048;
	--fg: #ffffff;
	--grey: #7b8496;
	--blue: #5ea1ff;
	--green: #5eff6c;
	--cyan: #5ef1ff;
	--red: #ff6e5e;
	--yellow: #f1ff5e;
	--magenta: #ff5ef1;
	--pink: #ff5ea0;
	--orange: #ffbd5e;
	--purple: #bd5eff;

    --header-height: 40px;

	font-family: "Iosevka Web", monospace;
	line-height: 1.5;
	font-weight: 400;
}

[data-theme="light"] {
	--bg: #ffffff;
	--bg-alt: #eaeaea;
	--bg-highlight: #acacac;
	--fg: #16181a;
	--grey: #7b8496;
	--blue: #0057d1;
	--green: #008b0c;
	--cyan: #008c99;
	--red: #d11500;
	--yellow: #997b00;
	--magenta: #d100bf;
	--pink: #f40064;
	--orange: #d17c00;
	--purple: #a018ff;
}

html,
body {
	margin: 0;
	padding: 0;
	background: var(--bg);
	color: var(--fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
