:root {
    --bg: #16181a;
    --bg_alt: #1e2124;
    --bg-highlight: #3c4048;
    --fg: #ffffff;
    --grey: #7b8496;
    --blue: #5ea1ff;
    --green: #5eff6c;
    --cyan: #5ef1ff;
    --red: #ff6e5e;
    --yellow: #f1ff5e;
    --magenta: #ff5ef1;
    --pink: #ff5ea0;
    --orange: #ffbd5e;
    --purple: #bd5eff;
}

[data-theme='light'] {
    --bg: #ffffff;
    --bg_alt: #eaeaea;
    --bg_highlight: #acacac;
    --fg: #16181a;
    --grey: #7b8496;
    --blue: #0057d1;
    --green: #008b0c;
    --cyan: #008c99;
    --red: #d11500;
    --yellow: #997b00;
    --magenta: #d100bf;
    --pink: #f40064;
    --orange: #d17c00;
    --purple: #a018ff;
}
/* :root { */
/*   font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
/*   line-height: 1.5; */
/*   font-weight: 400; */
/**/
/*   color-scheme: light dark; */
/*   /* color: rgba(255, 255, 255, 0.87); */ */
/*   /* background-color: #242424; */ */
/**/
/*   font-synthesis: none; */
/*   text-rendering: optimizeLegibility; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */

/* a { */
/*   font-weight: 500; */
/*   color: #646cff; */
/*   text-decoration: inherit; */
/* } */
/* a:hover { */
/*   color: #535bf2; */
/* } */
/**/
/* body { */
/*   margin: 0; */
/*   display: flex; */
/*   place-items: center; */
/*   min-width: 320px; */
/*   min-height: 100vh; */
/* } */
/**/
/* h1 { */
/*   font-size: 3.2em; */
/*   line-height: 1.1; */
/* } */
/**/
/* button { */
/*   border-radius: 8px; */
/*   border: 1px solid transparent; */
/*   padding: 0.6em 1.2em; */
/*   font-size: 1em; */
/*   font-weight: 500; */
/*   font-family: inherit; */
/*   background-color: #1a1a1a; */
/*   cursor: pointer; */
/*   transition: border-color 0.25s; */
/* } */
/* button:hover { */
/*   border-color: #646cff; */
/* } */
/* button:focus, */
/* button:focus-visible { */
/*   outline: 4px auto -webkit-focus-ring-color; */
/* } */
/**/
/* /* @media (prefers-color-scheme: light) { */ */
/* /*   :root { */ */
/* /*     color: #213547; */ */
/* /*     background-color: #ffffff; */ */
/* /*   } */ */
/* /*   a:hover { */ */
/* /*     color: #747bff; */ */
/* /*   } */ */
/* /*   button { */ */
/* /*     background-color: #f9f9f9; */ */
/* /*   } */ */
/* /* } */ */
