.mono,
.codeblock,
.title {
	font-family: "Reddit Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.codeblock {
	width: calc(100% - 2em);
	outline: 2px solid var(--fg);
	border-radius: 10px;
	padding: 1em;
}

.code {
	margin-top: 0em;
	margin-bottom: 0em;
}

.codeline::before {
	content: "> ";
	color: var(--green);
}

.codeblock strong {
}

.codeblock strong::before {
	content: "**";
}

.codeblock strong::after {
	content: "**";
}

.codeblock em {
	font-style: normal;
}

.codeblock em::before {
	content: "*";
}

.codeblock em::after {
	content: "*";
}

.cmd {
	color: var(--green);
}

.pwd {
	color: var(--cyan);
	overflow: hidden;
	white-space: nowrap;
}

.pwd::after {
	content: "....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
	color: var(--grey);
}

.content {
	display: flex;
	width: 80%;
	justify-content: flex-end;
	flex-direction: column;
}
