.cluecard.r1,
.cluecard.r2,
.surfacecard {
	aspect-ratio: 7 / 4;
}

.cluecard,
.answercard,
.surfacecard,
.labelcard,
.ghostborder {
	border: 2px solid var(--fg);
	border-radius: 10px;
	width: 100%;
	color: var(--fg);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background: none;
	transition: background 0.3s;
	font-size: inherit;
    min-width: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

pre {
    white-space: inherit;
    word-wrap: inherit;
    overflow-wrap: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

.big pre {
    margin-top: 0;
    margin-bottom: 0;
}

.cluecard:hover,
.answercard:hover,
.surfacecard:hover,
.ghostborder:hover {
	background: color-mix(in srgb, var(--fg) 20%, transparent);
    cursor: pointer;
}

.cluecard:active,
.answercard:active,
.surfacecard:active,
.ghostborder:active {
	background: color-mix(in srgb, var(--fg) 40%, transparent);
}

.cluecard:disabled,
.answercard:disabled,
.surfacecard:disabled,
.ghostborder:disabled {
	background: none;
    cursor: default;
}

.round3buttons > .ghostborder:disabled {
	border: 2px solid var(--grey);
    transition: border 0.2s;
}

.explanation {
	font-style: italic;
}

.round3buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.round3buttons > button {
    aspect-ratio: 4/1;
    width: calc((100% - 3em)/4);
}


.round1,
.round2,
.round3,
.round4 {
    margin-bottom: 5em;
}

.round1question,
.round2question {
	width: 100%;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
    min-width: 0;
}

.answercard {
	grid-column-start: 1;
	grid-column-end: 5;
	height: fit-content;
}

.size-xs .round1question,
.size-s .round1question,
.size-xs .round2question,
.size-s .round2question {
	width: 100%;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.size-xs .answercard,
.size-s .answercard {
	grid-column-start: 1;
	grid-column-end: 3;
	height: fit-content;
}

.big {
	font-size: 48pt;
}

.size-xs .big,
.size-s .big {
	font-size: 36pt;
}

.round3grid > .answercard {
	grid-column-start: 1;
	grid-column-end: 5;
	height: fit-content;
}

.round4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.round3 {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.round3grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-width: 0;
}

.round3grid.solved {
    grid-template-rows: repeat(8, max-content);
}

.size-m .round3grid.solved,
.size-l .round3grid.solved,
.size-xl .round3grid.solved,
.size-2xl .round3grid.solved {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, max-content);
}

.size-m .round3grid .answercard,
.size-l .round3grid .answercard,
.size-xl .round3grid .answercard,
.size-2xl .round3grid .answercard {
    grid-column-start: auto;
    grid-column-end: auto;
    height: 100%;
}


.flipallbutton {
    width: calc((100% - 3em)/4);
    height: 3em;
}

.size-xs .flipallbutton,
.size-s .flipallbutton {
    width: calc((100% - 1em)/2);
}

